.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
}
.encabezado_tablas {
    font-weight: bold;
    text-align: center;
}

.horarios {
    border-style: none;
    border-width: medium;
    border-top-left-radius: 0px;
    text-align: center;
}

.tablas {
    border: thin solid #000000;
    background-color: #F4EEC8;
    text-align: center;
}
